@import "@sass/abstracts/vars";
@import "variables";

$hamburger-width: 28px;
$hamburger-height: 18px;
$border-size: 6px;
$hamburger-margin: 18px;

.navigation {
  .menu-mobile-navigate-wrapper {
    width: 100%;
  }
}